In [1]:
import pandas as pd

alagamentos = pd.read_csv('../../dados/alagamentos.csv', encoding='ISO-8859-1', sep=',',  low_memory=False, on_bad_lines='skip')
alagamentos['data_hora'] = pd.to_datetime(alagamentos['DATA'] + ' ' + alagamentos['HORA'], format='%d-%m-%Y %H:%M:%S')
alagamentos['data'] = pd.to_datetime(alagamentos['DATA'], format='%d-%m-%Y')

In [2]:
alagamentos.dtypes

Unnamed: 0             int64
index_left           float64
N_                   float64
ENDERECO              object
BAIRRO                object
CIDADE                object
NUCLEO                object
PROTOCOLO             object
SECRETARIA            object
DATA                  object
DATA_ATEND            object
HORA                  object
FLAGRANTE             object
MODIFICADO            object
ORIGINAL              object
NATUREZA              object
date                  object
score                  int64
hex                   object
NOME                  object
geometry              object
data_hora     datetime64[ns]
data          datetime64[ns]
dtype: object

In [15]:
alagamentos.head(3)

,Unnamed: 0,index_left,N_,ENDERECO,BAIRRO,CIDADE,NUCLEO,PROTOCOLO,SECRETARIA,DATA,...,MODIFICADO,ORIGINAL,NATUREZA,date,score,hex,NOME,geometry,data_hora,data
0,0,323.0,328.0,"R. FRANCISCO JOSÃ LOBO, 379",SÃTIO CERCADO,CURITIBA,Bairro Novo,21544/2009,SMDS,15-11-2009,...,NaN,NaN,Alagamento,2020-05-18,100,88a831acc7fffff,BAIRRO NOVO,POLYGON ((-49.27455781428023 -25.5376384480459...,2009-11-15 21:06:00,2009-11-15
1,0,507.0,521.0,"R. LEONARDO ABAGGIO, 326",SÃTIO CERCADO,CURITIBA,Bairro Novo,18217/2012,SMDS,02-12-2012,...,NaN,NaN,Alagamento,2020-05-18,100,88a831acc7fffff,BAIRRO NOVO,POLYGON ((-49.27455781428023 -25.5376384480459...,2012-12-02 19:55:00,2012-12-02
2,0,1523.0,1579.0,"R. DOS PIONEIROS, 1",TATUQUARA,CURITIBA,Tatuquara,02256/2011,SMDS,30-01-2011,...,NaN,NaN,Alagamento,2020-05-18,100,88a831acc7fffff,BAIRRO NOVO,POLYGON ((-49.27455781428023 -25.5376384480459...,2011-01-30 15:33:00,2011-01-30

In [28]:
alagamentos['BAIRRO'] = alagamentos['BAIRRO'].replace({
    'SÃ\x8dTIO CERCADO': 'SITIO CERCADO',
    'BOQUEIRÃ\x83O': 'BOQUEIRAO',
    'ALTO BOQUEIRÃ\x83O': 'ALTO BOQUEIRAO',
    'UMBARÃ\x81': 'UMBARA',
    'SANTA CÃ\x82NDIDA': 'SANTA CANDIDA',
    # 'TABOÃ\x83O': '',
    'SÃ\x83O LOURENÃ\x87O': 'SAO LOURENCO',
    'AHÃ\x9a': 'AHU',
    'CAPÃ\x83O DA IMBUIA': 'CAPAO DA IMBUIA',
    'GUAÃ\x8dRA': 'GUAIRA',
    'CAPÃ\x83O RASO': 'CAPAO RASO',
    'JARDIM DAS AMÃ\x89RICAS': 'JARDIM DAS AMERICAS',
    'JARDIM BOTÃ\x82NICO': 'JARDIM BOTANICO',
    'TARUMÃ\x82': 'TARUMA',
    'MOSSUNGUÃ\x8a/CIC': 'MOSSUNGUE CIC',
    'SÃ\x83O MIGUEL': 'SAO MIGUEL',
    'REBOUÃ\x87AS': 'REBOUCAS',
    'JUVEVÃ\x8a': 'JUVEVE',
    'ALTO DA GLÃ\x93RIA': 'ALTO DA GLORIA',
    'MERCÃ\x8aS': 'MERCES',
    'SÃ\x83O FRANCISCO': 'SAO FRANCISCO',
    'Ã\x81GUA VERDE': 'AGUA VERDE',
    'LINDÃ\x93IA': 'LINDOIA',
    'PORTÃ\x83O': 'PORTAO',
    'SANTA QUITÃ\x89RIA': 'SANTA QUITERIA',
    'SEMINÃ\x81RIO': 'SEMINARIO',
    'MOSSUNGUÃ\x8a': 'MOSSUNGUE',
    'SÃ\x83O JOÃ\x83O': 'SAO JOAO',
    'SÃ\x83O BRAZ': 'SAO BRAZ',
    'SANTO INÃ\x81CIO': 'SANTO INACIO'
})

In [29]:
alagamentos.BAIRRO.unique()

array(['SITIO CERCADO', 'TATUQUARA', 'BOQUEIRAO', 'ALTO BOQUEIRAO',
       'PINHEIRINHO', 'UMBARA', 'GANCHINHO', nan, 'CACHOEIRA',
       'ABRANCHES', 'BOA VISTA', 'BARREIRINHA', 'SANTA CANDIDA',
       'TABOÃ\x83O', 'SANTA FELICIDADE', 'ATUBA', 'SAO LOURENCO',
       'PILARZINHO', 'TINGUI', 'BACACHERI', 'BAIRRO ALTO', 'AHU',
       'CABRAL', 'BOM RETIRO', 'JARDIM SOCIAL', 'CAPAO DA IMBUIA',
       'CAJURU', 'HAUER', 'GUAIRA', 'GUABIROTUBA', 'XAXIM', 'CAPAO RASO',
       'JARDIM DAS AMERICAS', 'JARDIM BOTANICO', 'UBERABA', 'TARUMA',
       'CRISTO REI', 'CIDADE INDUSTRIAL', 'CAMPO COMPRIDO', 'FAZENDINHA',
       'MOSSUNGUE CIC', 'AUGUSTA', 'NOVO MUNDO', 'SAO MIGUEL', 'CENTRO',
       'BIGORRILHO', 'CAMPO DE SANTANA', 'RIVIERA', 'CAMPINA DO SIQUEIRA',
       'REBOUCAS', 'JUVEVE', 'HUGO LANGE', 'ALTO DA GLORIA', 'MERCES',
       'VISTA ALEGRE', 'SAO FRANCISCO', 'ALTO DA RUA XV', 'PRADO VELHO',
       'BATEL', 'AGUA VERDE', 'LINDOIA', 'PORTAO', 'FANNY', 'VILA IZABEL',
       'SANTA QUITERIA', 'SEMINARIO', 'PAROLIN', 'MOSSUNGUE',
       'BUTIATUVINHA', 'SAO JOAO', 'CASCATINHA', 'SAO BRAZ',
       'SANTO INACIO', 'ORLEANS', 'CAXIMBA'], dtype=object)

In [17]:
alagamentos_qtde_por_bairro_data = alagamentos.groupby(['BAIRRO', 'data']).size().rename_axis(index={'BAIRRO': 'bairro'})
alagamentos_qtde_por_bairro_data = alagamentos_qtde_por_bairro_data.reset_index()
alagamentos_qtde_por_bairro_data.columns = ['bairro', 'data', 'alagamentos']
alagamentos_qtde_por_bairro_data.head(15)

       bairro       data  alagamentos
0   ABRANCHES 2009-10-06            1
1   ABRANCHES 2009-11-16            1
2   ABRANCHES 2010-01-22            2
3   ABRANCHES 2010-01-30            1
4   ABRANCHES 2011-01-20            1
5   ABRANCHES 2011-02-14            3
6   ABRANCHES 2011-02-24            1
7   ABRANCHES 2011-02-25            1
8   ABRANCHES 2011-04-02            6
9   ABRANCHES 2015-02-04            1
10  ABRANCHES 2016-07-16            1
11  ABRANCHES 2017-02-03            2
12  ABRANCHES 2018-03-03            1
13       AHÃ 2010-02-09            2
14       AHÃ 2010-04-25            2

In [18]:
alagamentos_qtde_por_bairro_data.dtypes

bairro                 object
data           datetime64[ns]
alagamentos             int64
dtype: object